In [1]:
from tqdm import tqdm
import customized_headlines.data.load as load
import customized_headlines.data.analyze as analyze
import customized_headlines.data.export as export

### Load data

In [2]:
# Load data processed
news = load.news

### Read data

In [3]:
# Read csv file as dataframe
df = load.read_csv(news)
# Show dataframe
df.head(1)

,ap_syndicated,collect_date,feeds,guid,language,media_id,media_name,media_url,metadata,processed_stories_id,publish_date,stories_id,story_tags,title,url,word_count,category
0,False,2022-10-01 20:20:35.457433,NaN,article 1483585 at https://www.milenio.com,es,22579,milenio.com,http://www.milenio.com,"{'date_guess_method': None, 'extractor_version...",2822106553,2022-10-01 19:58:00,2436520582,[],¡Vivan los novios! Así fue la primera boda en ...,https://www.milenio.com/virales/celebran-prime...,NaN,milenio

In [4]:
# Get a list of values from a column
urls = analyze.get_col_val(df, 'url')

# Create an empty list
texts = []
# Iterate through urls list
for i in tqdm(range(len(urls))):
    # Make a request
    request = analyze.make_request(urls[i])
    text = analyze.extract_text(request)
    texts.append(text)

100%|██████████| 227/227 [03:10<00:00,  1.19it/s]

In [5]:
# Remove new lines from texts
texts = [x.replace('\n', '') for x in texts]

In [6]:
# Assign list to column in dataframe
df['text'] = texts

# Show dataframe
df.head(1)

,ap_syndicated,collect_date,feeds,guid,language,media_id,media_name,media_url,metadata,processed_stories_id,publish_date,stories_id,story_tags,title,url,word_count,category,text
0,False,2022-10-01 20:20:35.457433,NaN,article 1483585 at https://www.milenio.com,es,22579,milenio.com,http://www.milenio.com,"{'date_guess_method': None, 'extractor_version...",2822106553,2022-10-01 19:58:00,2436520582,[],¡Vivan los novios! Así fue la primera boda en ...,https://www.milenio.com/virales/celebran-prime...,NaN,milenio,Celebran primera boda en iglesia Maradoniana e...

### Exports

In [7]:
# Save dataframe as csv
export.df_csv(df, news)